.character_list {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    display: grid;
    width: 100%;
    max-width: 1024px;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 768px) {
    .character_list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 426px) {
    .character_list {
        grid-template-columns: repeat(2, 1fr);
    }
}